 
<div class="gallery-item">
  <h3>Movie of the year</h3>

  <h4>Oppenheimer</h4>
  <img  style="object-fit: 'contain'" [ngSrc]="'oppenheimer_RGB.jpg'"[priority]="true" sizes="100vw" alt="our best movie" width="700" height="900" />
 
</div>

<h3>Add a Movie</h3>
<form [formGroup]="movieForm" (ngSubmit)="addMovie()">
  <input formControlName="name" placeholder="Name">
  <input formControlName="description" placeholder="Description">
  <!-- add other movie properties... -->
  <button type="submit">Add Movie</button>
</form>
@defer (on viewport) {
  <app-movie-list [movies]="$any(movies())" (onDeleteMovie)="deleteMovie($event)" (onChangeMovie)="changeMovie($event)"/>
} @placeholder {
  <div>
   Loading... 
  </div>
}
