:host {
  flex: 0 0 calc(20% - 10px);

  .card {
    margin: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px;
    &:hover {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    }
  }
 

  .card-body {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .card-description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex: auto;
    padding-right: 16px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-primary {
    color: red;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    /* Light grey background */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.15);
    /* Shadow at the top */
    padding: 16px;
  }

  .card-chip {
    display: inline-block;
    padding: 0 10px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    border-radius: 15px;
    background-color: #f1f1f1;
    color: #333;
  }
}